<main>
  Доброго дня, <%= locals.username %>!<br />
  От Вас поступила регистрация на сайте eCommerce.<br />
  Для окончания регистрации пройдите пожалуйста по
  <a href="<%= urlConfirmAddress %>">ссылке</a> .
</main>